<div class="container">
  <div class="alert alert-info my-3">
    Per partecipare al concorso ti chiediamo di creare un account.<br/>
    Nelle pagine successive ti verrà chiesto di fornire luogo e data di nascita, residenza, codice fiscale e copia di un documento di identità.<br/>
    Avrai poi tempo di inviare la liberatoria fino alla scadenza del bando.
  </div>

  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header bg-warning">
        <h2><%= icon('fas fa-user', size: 36) %> Registrati al π Contest</h2>
      </div>
      <div class="card-body">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>


          <div class="form-inputs">
            <%= f.input :email,
              required: true,
              autofocus: true,
              input_html: { autocomplete: "email" }%>
            <%= f.input :password,
              required: true,
              hint: ("Almeno #{@minimum_password_length} caratteri" if @minimum_password_length),
              input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
              required: true,
              input_html: { autocomplete: "new-password" } %>
            <%= f.input :privacy_policy, 
              as: :boolean, 
              checked_value: true, 
              unchecked_value: false, 
              required: true, 
              hint: "Accetto le condizioni di #{link_to 'trattamento dei dati personali', privacy_path}".html_safe %>
            <% if flash[:recaptcha_error] %>
              <div class="alert alert-danger"><%= flash[:recaptcha_error] %></div>
            <% end %>
            <%= recaptcha_tags %>
          </div>

          <div class="form-actions my-3">
            <%= f.button :submit, "Crea un account", class: 'btn btn-primary' %> -
            <%= link_to 'indietro', root_path %>  
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

