<div>
  <div class="theme-show">
    <div class="theme-show-title">
      <%= theme.title %>
    </div>
    <div class="my-1" style="font-size: 42px">
      <%= theme_icon(theme) %>
    </div>
    <div>
      <div class="theme-show-subtitle"><%= theme.subtitle %></div>
    </div>
    <div class="text-italic">
      <small><%= theme.description %></small>
      <% if current_user && current_user.school && (! theme.school) %>  
        <br/><i class="fas fa-ban"></i> (non per scuole)
      <% end %>
    </div>
    <% if defined?(current_user_theme_photos) && current_user_theme_photos > 0 %>  
      <div class="ml-3 badge badge-warning">
        <%= current_user_theme_photos %> foto
        <% if current_user_theme_photos >= 2 %> 
          (limite massimo raggiunto)
        <% end %>
      </div>
    <% end %>
    <% if defined?(current_user_theme_videos) && current_user_theme_videos > 0 %>
      <div class="ml-3 badge badge-warning">
        <%= current_user_theme_videos %> video
        <% if current_user_theme_videos >= 1 %>
          (limite massimo raggiunto)
        <% end %>
      </div>
    <% end %>
  </div>
</div>
