<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card mt-5">
      <div class="card-header"><h2>I tuoi dati</h2></div>
      <div class="card-body">
        <%= simple_form_for @user, url: :update_user_info, method: :post do |f| %>  
          <%= f.input :name %>  
          <%= f.input :surname %>  
          <%= f.input :birthdate, start_year: 1930, end_year: 2000 %>  
          <%= f.input :birthdate, as: :string, input_html: {type: :date, max: (Date.today - 19.years)} %>
          <%= f.input :birthplace %>  
          <%= f.input :address %>  
          <%= f.input :cf %>  
          <%= f.input :school %>  
          <%= f.submit 'Salva' %>  - mostra <%= link_to 'liberatoria', printable_release_path %>  
        <% end %>
      </div>
    </div>
  </div>
</div>
