<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card mt-5">
      <div class="card-header"><h2>I tuoi dati</h2></div>
      <div class="card-body">
        <%= simple_form_for @user, url: :update_user_info, method: :post do |f| %>  
          <%= f.input :name %>  
          <%= f.input :surname %>  
          <%= f.input :school %>  
          <%= f.submit 'Salva' %>  
        <% end %>
      </div>
    </div>
  </div>
</div>
