<div class="container">
  <div class="mt-5 d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header bg-warning">
        <h2><%= icon('fas fa-user', size: 36) %> Cambia la tua password</h2>
      </div>
      <div class="card-body">

        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <%= f.input :reset_password_token, as: :hidden %>
          <%= f.full_error :reset_password_token %>

          <div class="form-inputs">
            <%= f.input :password,
              label: "Nuova password",
              required: true,
              autofocus: true,
              hint: ("minimo #{@minimum_password_length} caratteri" if @minimum_password_length),
              input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
              label: "Riscrivi la nuova password",
              required: true,
              input_html: { autocomplete: "new-password" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Cambia la mia password", class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
