<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="mt-5 card">
      <div class="card-header bg-warning">
        <h2><%= icon('fas fa-user', size: 36) %> Recupera la tua password</h2>
      </div>
      <div class="card-body">

        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email,
              required: true,
              autofocus: true,
              input_html: { autocomplete: "email" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Mandami le istruzioni per resettare la password", class: 'btn btn-primary' %> - <%= link_to 'indietro', root_path %>  
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
