<div class="container">
  <div class="sponsors-list">
    <div class="sponsor-title">Organizzato da:</div>
    <div class="sponsor-logo"><%= image_pack_tag 'sponsor/dm.png' %></div>
  </div>
  <div class="sponsors-list">
    <div class="sponsor-title">Con il contributo di:</div>
    <div class="sponsor-logo"><%= image_pack_tag 'sponsor/indam.png' %></div>
    <div class="sponsor-logo"><%= image_pack_tag 'sponsor/pls.png' %></div>
    <div class="sponsor-logo"><%= image_pack_tag 'sponsor/asterisco.png' %></div>
    <div class="sponsor-logo"><%= image_pack_tag 'sponsor/zamboni.png' %></div>
  </div>
</div>
