<div class="container">
  <div class="sponsors-list">
    <div class="sponsor-title">Organizzato da:</div>
    <div class="sponsor-logo"><%= link_to image_pack_tag('sponsor/dm.png'), 'http://www.matematica.unibo.it/it' %></div>
  </div>
  <div class="sponsors-list">
    <div class="sponsor-title">Con il contributo di:</div>
    <div class="sponsors-logo">
      <div><%= link_to image_pack_tag('sponsor/indam.png'), 'https://www.altamatematica.it' %></div>
      <div><%= link_to image_pack_tag('sponsor/pls.png'), 'https://www.pianolaureescientifiche.it' %></div>
      <div><%= link_to image_pack_tag('sponsor/asterisco.png'), 'https://www.asterisco.srl' %></div>
      <div><%= link_to image_pack_tag('sponsor/ossigeno.png'), 'http://cooperativaossigeno.it' %></div>
      <div><%= link_to image_pack_tag('sponsor/zamboni.png'), 'https://www.zamboni53store.com' %></div>
    </div>
  </div>
</div>
