<% if current_user && ! current_user.jury? %>  
  <div class="container text-center mb-5">
    <% if @photos.any? %>  
      <h4 class="my-5">Gentile <%= current_user %>, hai sottoposto le seguenti foto:</h4>
      <%= render @photos, preview: true %>  
    <% else %>
      <div class="alert alert-warning">
        Non hai ancora inviato nessuna foto.
      </div>
    <% end %>
    <% if policy(:photo).new?  %>  
      <div class="text-center m-5">
        <%= link_to icon('fas fa-plus-circle', t(:new_photo)), new_photo_path, class: 'btn btn-primary btn-lg p-3', style: 'width: 400px' %>  
      </div>
    <% end %>
    <% if @videos.any? %>
      <%= render @videos %>
    <% end %>
    <% if policy(:video).new?  %>  
      <div class="text-center m-5">
        <%= link_to icon('fas fa-plus-circle', t(:new_video)), new_video_path, class: 'btn btn-primary btn-lg p-3', style: 'width: 400px'  %>  
      </div>
    <% end %>
  </div>
<% end %>
<%= render partial: 'header' %>  
<%= render partial: 'contest_description' %>  
