<% if current_user %>  
  <div class="container text-center">
    <% if @photos.any? %>  
      <h4>Gentile <%= current_user %>, hai sottoposto le segueti foto:</h4>
      <%= render @photos, preview: true %>  
    <% else %>
      <div class="alert alert-warning">
        Non hai ancora inviato nessuna foto.
      </div>
    <% end %>
    <% if policy(:photo).new?  %>  
      <div class="text-center m-3">
        <%= link_to icon('fas fa-plus-circle', t(:new_photo)), new_photo_path, class: 'btn btn-primary btn-lg' %>  
      </div>
    <% end %>
  </div>
<% end %>
<%= render partial: 'header' %>  
<%= render partial: 'contest_description' %>  
