<h2>Categoria: <%= @theme %></h2>
<h3><%= @theme.subtitle %></h3>
<%= simple_form_for [@theme, @photo] do |f| %>  
  <%= f.error_notification %>  
  <%= f.input :description %>  
  <% if @photo.image.attached? %>  
    <%= image_tag @photo.image.variant(resize_to_limit: [300, 300]), class: "img-thumbnail" %>  
  <% end %>
  <%= f.input :image, as: :file, input_html: { accept: "image/*;capture=camera" } %>  
  <%= f.submit 'Aggiorna la foto' %>  
<% end %>
