<div class="card card-info my-4">
  <div class='card-header bg-warning'>
    <h2><%= theme_icon(@theme) %> <%= @theme %></h2>
    <h6><%= @theme.subtitle %></h6>
    <p><%= @theme.description %></p>
    <p><%= release_description %></p>
  </div>
  <div class="card-body">
    <%= simple_form_for [@theme, @photo] do |f| %>  
      <%= f.error_notification %>  
      <div class="row">
        <div class="col-md-4">
          <% if @photo.image.attached? %>  
            <%= image_tag @photo.image.variant(resize_to_limit: [300, 300]), class: "img-thumbnail" %>  
          <% else %>
            <%= f.input :image, as: :file, input_html: { accept: "image/*;capture=camera" } %>  
          <% end %>
        </div>
        <div class="col-md-8">
          <%= f.input :description, input_html: { rows: 8 } %>  
          <%= f.submit 'Invia' %>  
        </div>
      </div>
    <% end %>
  </div>
</div>
