<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="list-group mt-5">
        <% Theme.where(video: false).find_each do |t| %>  
          <% active = (t == @theme) ? 'active' : '' %>  
          <%= link_to t, slideshow_photos_path(theme_id: t.id), class: "list-group-item list-group-item-action #{ active unless @school }" %>
          <% if t.school %>  
             <%= link_to t.to_s + ' scuola', slideshow_photos_path(theme_id: t.id, school: 1), class: "list-group-item list-group-item-action #{ active if @school }" %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-md-10">
      <div id="slideshow-page">
        <div id="slideshow" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <% active = 'active' %>  
            <% @photos.each do |photo| %>  
              <div class="carousel-item <%= active %>">
                <% active = '' %>  
                <%= image_tag photo.image, class: "carousel-image" %>  
                <div class="carousel-caption d-none d-md-block">
                  <h5><%= photo.user.to_s.upcase %> <%= "(" + photo.user.school_name + ")" unless photo.user.school_name.blank? %></h5>
                  <p><%= photo.description %></p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
