<!-- Footer -->
<footer class="footer text-center my-5" style="background-color: rgb(50, 50, 60);">
  <div class="container">
    <ul class="list-inline">
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white mr-3" href="https://www.facebook.com/matematica.unibo">
          <i class="fab fa-facebook-square"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white mr-3" href="https://www.instagram.com/matpicontest">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
    </ul>
    <p class="text-muted small mb-0">
    Copyright &copy; Dipartimento di Matematica - Università di Bologna 2019.<br/>
    Per problemi di carattere tecnico contattare <%= mail_to_contact %>.<br/>
    <%= link_to "Privacy", privacy_path %>
    <% if current_user && current_user.manager? %>   
      <br/><%= link_to 'impersonate', who_impersonate_path %>  
    <% end %>
    <% if (current_user != true_user) %>
      <br/>You <%= true_user.email %> are impersonating <strong><%= current_user.email %></strong><br/> 
      <%= link_to "back to admin", stop_impersonating_path %>
    <% end %>
    </p>
  </div>
</footer>

