<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>π Contest</title>

    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, shrink-to-fit=no, user-scalable=yes"/>
    <meta name="description" content="Photo e Video Contest for pi day"/>
    <meta name="keywords" content="picontest,foto,contest,pi greco day,Dipartimento di Matematica,Università di Bologna"/>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= bootstrap_modal_div %>  
    <div>
      <% if current_user %>  
        <%= render(partial: 'layouts/menu') unless @no_menu %>
        <div class="container">
          <% if notice %><div class="alert alert-primary alert-dismissible my-2" role="alert"><%= notice %></div><% end %>
          <% if alert %><div class="alert alert-danger alert-dismissible my-2" role="alert"><%= alert %></div><% end %>
        </div>
      <% end %>
      <%= yield %>
      <%= render partial: 'layouts/footer' %>  
    </div>
  </body>
</html>
